{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <h1>Registration</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ registration.id }}</td>
            </tr>
            <tr>
                <th>RegisterdAt</th>
                <td>{{ registration.registerdAt ? registration.registerdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsConfirmed</th>
                <td>{{ registration.isConfirmed ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>RegisteredAt</th>
                <td>{{ registration.registeredAt ? registration.registeredAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_registration_index') }}">back to list</a>

    <a href="{{ path('app_registration_edit', {'id': registration.id}) }}">edit</a>

    {{ include('registration/_delete_form.html.twig') }}
{% endblock %}
